
@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    box-sizing: border-box;
    font-family: "Work Sans", sans-serif;
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
.container-header{
    background: #1e2326;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
}
.container-header header{
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
}
.container-header header .logo a{
    font-family: 'Righteous';
    font-size: 36px;
    color: gray;
    text-decoration: none;
}
.container-header header ul{
    display: flex;
    list-style: none;
}
.container-header header nav ul li a{
    text-align: none;
    color: #fff;
    margin: 0 15px;
    padding: 3px;
    transition: .5s;
    text-decoration: none;
}
.container-header header nav ul li a:hover{
    color: gray;
}
.nav-responsive{
    background: gray;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}
/* .container-img{
    border: 10px solid gray;
    width: 300px;
    height: 300px;
    border-radius: 50%;
} */

.about-me{
    background: linear-gradient(to top, rgba(30,35,38,.8),rgba(30,35,38,1)),
    url(./img/fondo.jpg) ;
    background-size: cover;
    height: 100vh;
    color: #fff;
    display: flex;
    align-items: center;
}
.about-me .content-banner{
    
    padding: 20px;
    /* background-color: #1e2326 ; */
    width: 850px;
    height: 400px;
    margin: auto;
    text-align: center;
    border-radius: 40px;
    box-shadow: 0 0 10px black;
    backdrop-filter: blur(10px);
}
.about-me .content-banner img{
    display: flex;
    margin-top: 40px ;
    /* border: 10px solid gray; */
    display: block;
    width: 300px;
    height: 300px;
    margin: auto;
    border-radius: 100%;
    box-shadow: 0 0 10px black;
    align-items: center;
    justify-content: center;
}
.content-banner p{
    margin-top: 50px;
    color: gray;
}
.networks{
    margin-top: 10px;
}
.about-me .content-banner h1{
    margin-top: 40px;
    font-size: 42px;
    font-family: 'Righteous';
}
.about-me .content-banner h2{
    font-size: 20px;
    font-weight: normal;
    color: whitesmoke;
}
.about-me .content-banner .networks a{
    color: #fff;
    display: inline-block;
    text-decoration: none;
    border: 0.5px solid #fff;
    border-radius: 100%;
    width: 42px;
    height: 42px;
    line-height: 42px;
    margin: 40px 5px;
    font-size: 20px;
    transition: .3s;
}
.about-me .content-banner .networks a:hover{
    background: gray;
}
.skills{
    background: #252A2E;
    color: #fff;
    padding: 50px 20px;
}
.skills .content-section{
    max-width: 1100px;
    margin: auto;
}
.skills h2{
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 0 20px;
    margin-bottom: 110px;
}
.skills .row{
    display: flex;
}
.skills .row .col{
    width: 50%;
    padding: 0 20px;
}
.skills .row .col h3{
    font-size: 28px;
    font-family: 'Righteous';
    margin-bottom: 25px;
}
.skills .skill > span{
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
}
.skills .skill .skill-bar{
    height: 8px;
    width: 80%;
    background: #131517;
    position: relative;
    margin-bottom: 30px;
}
.skills .skill .progress{
    background: gray;
    position: absolute;
    top: 0;
    left: 0;
    height: 8px;
}
.skills .skill .skill-bar span{
    position: absolute;
    height: 40px;
    width: 40px;
    background: gray;
    border-radius: 50px;
    line-height: 40px;
    text-align: center;
    top: -17px;
    right: -15px;
    font-size: 14px;
}
.skills .skill .javascript{
    width: 0%;
    animation: 2s javascript forwards;
}
@keyframes javascript{
    0%{width: 0%;}
    100%{width: 75%;}
}
.skills .skill .htmlcss{
    width: 0%;
    animation: 2s htmlcss forwards;
}
@keyframes htmlcss{
    0%{width: 0%;}
    100%{width: 89%;}
}
.skills .skill .wordpress{
    width: 0%;
    animation: 2s wordpress forwards;
}
@keyframes wordpress{
    0%{width: 0%;}
    100%{width: 81%;}
}
.skills .skill .photoshop{
    width: 0%;
    animation: 2s photoshop forwards;
}
@keyframes photoshop{
    0%{width: 0%;}
    100%{width: 56%;}
}


.skills .skill .communication{
    width: 0%;
    animation: 2s communication forwards;
}
@keyframes communication{
    0%{width: 0%;}
    100%{width: 55%;}
}
.skills .skill .teamwork{
    width: 0%;
    animation: 2s teamwork forwards;
}
@keyframes teamwork{
    0%{width: 0%;}
    100%{width: 30%;}
}
.skills .skill .creativity{
    width: 0%;
    animation: 2s creativity forwards;
}
@keyframes creativity{
    0%{width: 0%;}
    100%{width: 65%;}
}
.skills .skill .didication{
    width: 0%;
    animation: 2s didication forwards;
}
@keyframes didication{
    0%{width: 0%;}
    100%{width: 90%;}
}
.skills .skill .project-Management{
    width: 0%;
    animation: 2s project-Management forwards;
}
@keyframes project-Management{
    0%{width: 0%;}
    100%{width: 65%;}
}
.skills .skill .drupal{
    width: 0%;
    animation: 2s drupal forwards;
}
@keyframes drupal{
    0%{width: 0%;}
    100%{width: 40%;}
}
.portfolio{
    background-color: #252A2E;
    color: #fff;
    padding: 50px 20px;
}
.portfolio .container-section{
    max-width: 1100px;
    margin: auto;
}
.portfolio h2{
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;
}
.portfolio .gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.portfolio .gallery .project{
    position: relative;
    max-width: 400px;
    height: fit-content;
    margin: 10px;
    cursor: pointer;
}
.portfolio .gallery .project img{
    width: 100%;
    height: 220px;
    display: block;
}
.portfolio .gallery .project .overlay{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background: linear-gradient(rgba(28,182,152,.8), rgba(28,182,152,.8));
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 1s;
    font-size: 18px;
    letter-spacing: 3px;
    opacity: 0;
}
.portfolio .gallery .project .overlay h3{
    margin-bottom: 20px;
    transition: 1s;
}
.portfolio .gallery .project .overlay:hover{
    opacity: 1;
}
.portfolio .gallery .project .overlay:hover h3{
    margin-bottom: 0px;
}
.contact{
    background-image: url(img/contact_bg.png);
    background-color: #1e2326;
    color: #fff;
    padding: 50px 0;
}
.contact .content-section{
    max-width: 1100px;
    margin: auto;
}
.contact h2{
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;
}
.contact .row{
    display: flex;
}
.contact .col{
    width: 50%;
    padding: 10px;
    position: relative;
}
.contact .col input, .contact .col textarea{
    display: block;
    width: 100%;
    padding: 18px;
    border: none;
    margin-bottom: 20px;
    background-color: #252A2E;
    color: #fff;
    font-size: 18px;
}
.contact button{
    cursor: pointer;
    background-color: transparent;
    border: 2px solid #fff;
    width: fit-content;
    display: block;
    margin: 20px auto;
    padding: 10px 22px;
    font-size: 16px;
    color: #fff;
    position: relative;
    z-index: 10;
}
.contact button .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: gray;
    z-index: -1;
    transition: 1s;
}
.contact button:hover .overlay{
    width: 100%;
}
.contact .col img{
    width: 100%;
}
.contact .col .info{
    position: absolute;
    top: 40%;
    background-color: #252A2E;
    padding: 20px;
    max-width: 350px;
    left: 50%;
    transform: translate(-50%, -50%);
}
.contact .col .info ul{
    list-style: none;
}
.contact .col .info ul li{
    margin-bottom: 20px;
}
.contact .col .info ul li i{
    color: #1CB698;
    display: inline-block;
    margin-right: 20px;
}
footer{
    background-color: #252A2E;
    color: #fff;
    padding: 50px 0 30px 0;
    text-align: center;
    position: relative;
    width: 100%;
}
footer .redes{
    margin-bottom: 20px;
}
footer .redes a{
    color: #fff;
    display: inline-block;
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 100%;
    width: 42px;
    height: 42px;
    line-height: 42px;
    margin: 40px 5px;
    font-size: 20px;
    transition: .3s;
}
footer .arriba{
    display: block;
    width: 50px;
    height: 50px;
    background-color: gray;
    color: #fff;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -25px;
    border-radius: 50%;
    line-height: 50px;
    font-size: 18px;
}
@media screen and (max-width:980px){
    nav{
        display: none;
    }
    .nav-responsive{
        display: block;
    }
    nav.responsive{
        display: block;
        position: absolute;
        right: 0;
        top: 75px;
        background-color: #252A2E;
        width: 180px;
    }
    nav.responsive ul{
        display: block !important;
    }
    nav.responsive ul li{
        border-bottom: 1px solid #fff;
        padding: 10px 0;
    }
}
@media screen and (max-width:700px){
    .about-me .row{
        display: block;
    }
    .about-me .row .col{
        width: fit-content;
    }

    .skills .row{
        display: block;
    }
    .skills .row .col{
        width: 100%;
    }
    .skills .row .col .skill-bar{
        width: 100%;
    }

    .portfolio .gallery{
        display: block;
        width: 100%;
    }
    .portfolio .gallery .project{
        max-width: 100%;
    }
    .portfolio .gallery .project img{
        width: 100%;
    }
    .contact .row{
        display: block;
    }
    .contact.row .col{
        width: 100%;
    }

}